<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">

    <MudText Typo="Typo.h4" GutterBottom="true">
        Odds And Ends
    </MudText>

    <MudCard Elevation="3" Class="p-6 mud-card">

        <MudText GutterBottom="true">
            This is a set of unrelated pages which demonstrate my solutions to some problems that I came across. It is not intended to be particularly representative of a best practice Blazor application:
            it is simply to show the results coming from the code in the easiest way possible.
        </MudText>

        <MudText GutterBottom="true">
            <span style="font-weight: bold">Fibonacci's Sequence</span> needs no introduction. This is just a fairly easy and straightforward
            piece of code (but quite fun).
        </MudText>

        <MudText GutterBottom="true">
            <span style="font-weight: bold">Kaprekar's Constant</span> is a a little more interesting and was a lot of fun
            to write. Rather than go into detail about it here you can find the Wikipedia definition of Kaprekar's Constant here:
            <MudLink href="https://en.wikipedia.org/wiki/6174" target="_blank" rel="noopener noreferrer">Kaprekar's Constant (6174)</MudLink>
        </MudText>

        <MudText GutterBottom="true">
            <span style="font-weight: bold">Palindromic Numbers</span> fascinate me. I wanted to write some code to display all
            of the palindromic numbers up to a given value - in this case 10,000. Also displayed is the difference between one number and
            its predecessor - which gives a very interesting pattern.
        </MudText>

        <MudText GutterBottom="true">
            <span style="font-weight: bold">Password Strength</span> shows the strengths of various combinations
            of letters - upper and lower case - and numbers.
        </MudText>

        <MudText GutterBottom="true">
            <span style="font-weight: bold">Difference Between Two Squares</span> does what it says on the tin...
            I had been meaning to write this for a while as it just interested me.
        </MudText>

        <MudText>
            GitHub: <MudLink href="https://github.com/JulianAburrow/OddsAndEnds" target="_blank" rel="noopener noreferrer">OddsAndEnds</MudLink>
        </MudText>
    
    </MudCard>

</MudContainer>