<MudText Class="mb-4">
    <div class="row">
        <div class="col-5 col-lg-2 font-weight-bold">Julian Aburrow</div>
    </div>
    <div class="row">
        <div class="col-5 col-lg-2 font-weight-bold">Oxfordshire</div>
    </div>
    <div class="row">
        <div class="col-5 col-lg-2 font-weight-bold">07790 209152</div>
    </div>
    <div class="row">
        <div class="col-5 col-lg-2 font-weight-bold"><MudLink href="mailto:jaburrow@btinternet.com" title="Email">jaburrow@btinternet.com</MudLink></div>
    </div>
    <div class="row">
        <div class="col-5 col-lg-2 font-weight-bold">
            <MudLink href="http://www.linkedin.com/pub/julian-aburrow/33/b21/856" title="Profile" target="_blank" rel="noopener noreferrer">LinkedIn</MudLink>
            |
            <MudLink href="https://github.com/JulianAburrow" title="GitHub" target="_blank" rel="noopener noreferrer">GitHub</MudLink>
        </div>
    </div>
</MudText>