@if (ShowBanner)
{
    <div class="cookie-banner">
        <div class="cookie-banner-content">
            <span>
                This website uses cookies to improve your experience.
            </span>

            <button class="cookie-banner-button" @onclick="AcceptCookies">
                OK
            </button>
        </div>
    </div>
}
